
div[gl-name=root]{
    width: 100%;
    height: 100%;
}
div[gv-name=control] button:hover{
    background-color: darkslategray;
    color: white;
    font-weight: bold
}
div[gv-name=control] button:active{
    font-weight: bold;
    border: 1px solid gray;
}
table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
}
table {
    width: 100%;
}
th{
    background-color: grid;
    box-shadow: 2px 
}
.toolActive {
    background-color: papayawhip;
}
.active {
    background-color: darkslateblue;
    color: white
}
.bt_active {
    background-color: darkslategray;
    box-shadow: 0px 5px lightskyblue;
    color: white;
    font-weight: bold
}
/*float left menu*/
header nav {
    float: left;
    /*padding: 2px;*/
}
/*clear float left of main tag*/
main {
    clear: left;
    height: 100%;
    width: 100%
}
/*float left selection mode block*/
div[gl-name=left]{
    float: left;
    border: 1px solid gray;
    height: 96%;
    width: 30%
}
/*float right mode right canvas*/
div[gl-name=right]{
    border: 1px solid gray;
    width: 69%;
    height: 96%;
    overflow: auto;
}
/*makeup for tools panel*/
/*float tools button to the right side*/
div[tool-name=gp-btns]{
    float: right;
}
/*set size for all button in tools*/
div[tool-name=gp-btns] button{
    display: block;
    width: 60px;
    height: 60px;
    font-size: 40px;
}
/*clear float right of glyph list*/
div[pn-name=glyph-list]{
    clear: right
}
/*clear float left of tools panel*/
div[pn-name=tools]{
    clear: left
}
div[pn-name=tools] button:hover {
    background-color: papayawhip
}
div[pn-name=tools] button:active {
    background-color: lightslategrey;
}
/*makeup for description tools*/
div[tool-name=title]{
    background-color: lightgray;
    border: 1px solid gray;
    font-weight: bold;
    font-style: italic
}
/*makup for content description of tools*/
div[tool-name=content]{
    font-style:italic;
    text-align: left;
    padding: 1px;
    margin-left: 10px;
    font-size: 14px
}
/*makup for view controller*/
div[gv-name=control] button{
    float: left;
}
form{
    clear: left;
    text-align: left;
    padding: 10px 1px 1px 1px;
    margin: 10px;
    font-size: 16px;
    font-style: italic
}

form div {
    float: left
}